@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$font-family-sans-serif: 'Lato', sans-serif;
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.scss';
@import '~react-date-range/dist/styles.css';
@import '~react-date-range/dist/theme/default.css';

.min-h-100 {
    min-height: 100vh !important;
}

.text-hover-danger {
    &:hover {
        color: var(--bs-danger)
    }
}

.btn-loading {
    .loading {
        display: none;
    }
    &-active {
        .loading {
            display: block;
        }
        .text {
            display: none;
        }
    }
}
.rdrDefinedRangesWrapper {
    width: 180px;
}
@media (max-width: 767.98px) { 
    // .rdrDefinedRangesWrapper {
    //     display: none;
    // }
}